@font-face {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: mediumpurple;
  font-family: "Roboto";
}

#wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  text-align: center;
}

#infoContainer {
  margin-top: 20px;
}

.scoreContainer {
  margin: auto;
}

#restartBtn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#player1Score {
  background-color: mediumturquoise;
  border-radius: 1em;
}

#player2Score {
  background-color: mediumspringgreen;
  border-radius: 1em;
}

#arenaContainer {
  background-color: mediumvioletred;
  margin-top: 20px;
  padding: 10px;
}

#choiceContainer {
  margin-top: 10px;
}

.choice {
  cursor: pointer;
}

#rockContainer {
  background-color: rgb(196, 157, 201);
  padding: 1rem;
}

#paperContainer {
  background-color: paleturquoise;
  padding: 1rem;
}

#scissorsContainer {
  background-color: rgb(38, 176, 218);
  padding: 1rem;
}
