body {
  background-color: purple;
  color: greenyellow;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  text-shadow: 0.125em 0.125em rgb(46, 46, 46);
}

#arenaContainer {
  /* width: 90%; */
  /* margin: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(56, 175, 253);
  text-align: center;
}

#player1 {
  /* position: relative; */
  /* width: 80%; */
  /* margin: auto; */
  background-color: rgb(18, 235, 65);
  justify-content: center;
  text-align: center;
}

#player2 {
  /* margin: 10px; */
  background-color: rgb(235, 18, 18);
  /* justify-content: center; */
  text-align: center;
}

#choicesContainer {
  /* width: 80%; */
  /* margin: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  padding: 10px;
  background-color: rgb(247, 243, 8);
  justify-content: center;
  text-align: center;
}

#rockContainer {
  /* width: 30%; */
  /* margin: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  background-color: rgb(18, 235, 65);
  /* justify-content: center; */
  text-align: center;
}

#paperContainer {
  /* width: 30%; */
  /* margin: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  background-color: rgb(235, 18, 29);
  /* justify-content: center; */
  text-align: center;
}

#scissorsContainer {
  /* width: 30%; */
  /* margin: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  background-color: rgb(18, 105, 235);
  /* justify-content: center; */
  text-align: center;
}
