@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}

body {
  background-color: mediumpurple;
  font-family: "Roboto";
}

#wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  text-align: center;
}

#infoContainer {
  margin-top: 20px;
}

.scoreContainer {
  margin: auto;
}

#restartBtn {
  display: none;
  margin-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
}

#restartBtn:hover {
  background-color: rgb(124, 38, 221);
}

#player1Score {
  background-color: mediumturquoise;
  border-radius: 1em;
}

#player2Score {
  background-color: mediumspringgreen;
  border-radius: 1em;
}

#arenaContainer {
  background-color: mediumvioletred;
  margin-top: 20px;
  padding: 10px;
}

#choicesContainer {
  margin-top: 10px;
}

.choice {
  cursor: pointer;
  margin: 10px;
}

#rock {
  background-color: rgb(196, 157, 201);
  padding: 1rem;
}

#paper {
  background-color: paleturquoise;
  padding: 1rem;
}

#scissors {
  background-color: rgb(38, 176, 218);
  padding: 1rem;
}

.text-win {
  color: blueviolet;
}

.text-lose {
  color: red;
}
